.request {
  display: flex;
  flex-direction: column;

  .requestList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .requestitem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;

      .user {
        width: -webkit-fill-available;
        width: fill-available;
        background: rgba(16, 50, 88, 0.02);
        border: 0.6px solid rgba(248, 248, 248, 0.07);
        backdrop-filter: blur(13.3px);
        border-radius: 17px;
        padding: 2px;

        display: flex;
        align-items: center;
        gap: 5px;
        img {
          border-radius: 15px;
          width: 57px;
          height: 57px;
        }

        > div {
          display: flex;
          flex-direction: column;
          gap: 5px;

          span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 110.22%;
            display: flex;
            align-items: center;

            color: rgba(255, 255, 255, 0.84);
          }

          small {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 110.22%;
            color: rgba(255, 255, 255, 0.63);
          }
        }
      }

      .btn {
        width: 100%;
        border-radius: 8px;
        padding: 13px;
        border: none;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        background: linear-gradient(135deg, #63f1a5, #5cf6a1);
        font-weight: 500;
        color: #000;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
