.OperationLists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}

.tabs {
  display: flex;
  gap: 16px;
  background: #50505010;
  border-radius: 12px;
  padding: 6px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.tabButton {
  position: relative;
  background: transparent;
  border: none;
  padding: 10px 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  color: #555;
  transition: allv 0.3s ease;
  width: 50%;

  &:hover {
    opacity: 0.5;
  }
}

.active {
  color: #fff;
}

.activeIndicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  border-radius: 10px;
  z-index: -1;
}

.content {
  margin-top: 24px;
  width: 100%;
  text-align: center;
}
