.modalBg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0b0a1041;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(3px);
}

.modal {
  padding: 20px;
  height: max-content;
  width: 100%;
  padding: 0 30px;

  display: flex;
  flex-direction: column;
}

.input {
  background: rgba(6, 12, 19, 0.347);
  border: 0.6px solid rgba(248, 248, 248, 0.07);
  border-radius: 17px;
  padding: 10px 20px;

  display: flex;
  align-items: center;
  gap: 5px;

  input {
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
  }
}

.modalclose {
  background: none;
  border: none;
  width: max-content;

  display: flex;
  align-items: center;
  gap: 5px;

  color: #fff;

  font-size: 16px;
  margin-bottom: 10px;
}

.userList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: 10px 0;

  max-height: 320px;
  overflow: hidden;
  overflow-y: scroll;

  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 999px;
    border: 2px solid transparent;
    backdrop-filter: blur(2px);
  }

  .userInfo {
    background: rgba(6, 12, 19, 0.347);

    border: 0.6px solid rgba(248, 248, 248, 0.07);
    backdrop-filter: blur(13.3px);
    border-radius: 17px;
    padding: 2px;

    display: flex;
    align-items: center;
    gap: 5px;

    img {
      border-radius: 15px;
      width: 57px;
      height: 57px;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;

      span {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 110.22%;
        display: flex;
        align-items: center;

        color: rgba(255, 255, 255, 0.84);
      }

      small {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 110.22%;
        color: rgba(255, 255, 255, 0.63);
      }
    }

    button {
      margin-left: auto;
      margin-right: 10px;

      border-radius: 25px;
      min-width: 40px;
      height: 40px;

      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(245, 245, 245, 0.03);
      border: 0.6px solid rgba(248, 248, 248, 0.07);
      backdrop-filter: blur(10.7px);
      transition: all 0.3s ease-in-out;
      &:active {
        opacity: 0.5;
      }
    }
  }
}
