.operations {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .operationsLength {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: -0.5px;

    color: rgba(255, 255, 255, 0.6);

    display: flex;
    align-items: center;
    gap: 5px;

    strong {
      color: #fff;
      font-weight: 500;
    }
  }

  .title {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;
    color: #ffffff;
  }

  .operationList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0;
    margin: 20px 0 0 0;

    a {
      text-decoration: none;
    }

    .operationItem {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 170px;
      border-radius: 20px;
      overflow: hidden;
      padding: 10px 13px;

      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      object-fit: contain;

      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.361236) 90.31%,
          rgba(0, 0, 0, 0.4) 100%
        ),
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.611) 77.29%,
          rgba(0, 0, 0, 0.65) 100%
        );

      border-radius: 20px;

      img {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        object-fit: contain;
      }
    }

    .operationItemContent {
      display: flex;
      flex-direction: column;
      gap: 10px;

      span {
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
      }

      section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        small {
          display: flex;
          align-items: center;
          gap: 5px;
          font-weight: 400;
          font-size: 15px;
          line-height: 16px;
          color: rgba(255, 255, 255, 0.6);

          strong {
            color: #fff;
            font-weight: 500;
          }
        }
      }
    }
  }
}
