.head {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

  button {
    background: none;
    border: none;
    color: #fff;

    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease-in-out;
    padding: 10px 0;

    &:hover {
      opacity: 0.5;
    }
  }

  .title {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;

    color: #ffffff;
  }

  .totalSlots {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.6);

    display: flex;
    align-items: center;
    gap: 5px;

    strong {
      color: #fff;
      font-weight: 500;
    }
  }
}
